@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

header img {
  max-height: auto;
  margin-left: 0px;
  margin-right: 0px;
}

.img2 {
  max-width: none;
}

header h1 {
  flex: 1;
  text-align: center;
  margin: 0;
}

.lower-banner {
  margin: 0px 10px;
}


.times-accuracy {
  color: grey;
  margin-left: 0;
}

.all {
  margin: 10px;
}

.email {
  display: flex;
  justify-content: flex-end;
  font-size: 17px;
  right: 0;
}

a:link {
  color: rgb(38, 33, 97);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(38, 33, 97);
}

.horses {
  font-family: 'Source Sans Pro', sans-serif;
  border-collapse: collapse;
  width: 100%;
}


.horses td,
.horses th {
  border: 1px solid #ddd;
  padding: 8px;
  font-family: 'Source Sans Pro', sans-serif;
}

.horses tr:nth-child(even) {
  background-color: #f2f2f2;
}

.horses tr:hover {
  background-color: #ddd;
}

.horses th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #58575c;
  color: white;
}

td.runnername {
  column-width: 200px;
}
td.statcat {
  display: none;
}

th.statcat {
  display: none;
}
th.runnernumber {
  display: none;
}
td.runnernumber {
  display: none;
}
